input:focus,
button:focus{
   outline:none
}
body{
    background-color:black;
    color:white;
}
input{    
    height:20px; 
    background-color:black;
    color:white;
}
.field{
    width:78%;
    display: inline-block;
    border:none;
}
.framebutton{
    width:100px;
    height:30px;
    background-color:#38529C;
    border: 1px solid #38529C;
    
    
    margin:1px;
    margin-top:5px;
    color:white;
    font-size:20px;
    
}
.textbox{
    width:90%;
    height:25px;
    padding:5px;
    padding-left: 20px;
    border: 5px solid #423AA6;
    vertical-align: middle;
    border-radius:0px 0px 10px 10px;   
}
.circle{
    height:25px;
    width:25px;
    background-color:#423AA6;
    border-radius:25px;
    display:inline-block;
    position:absolute;  
    left:80%;  
    color:white;
}
.circle2{
    height:25px;
    width:25px;
    background-color:red;
    border-radius:25px;
    display:inline-block;
    position:absolute; 
    left:90%;  
    color:white;
}
#content-frame{
    
    width: 90%;
    border: 0px solid #423AA6;
    border-radius: 15px 15px 15px 15px;
    padding:15px;
    padding-left:10px;
    padding-right:25px;
    margin-top:10px;
    overflow-y: scroll;
}
.options{
    width:325px;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    width:100%;
    height:100%;
}
.frameitem{
    width:85%;
    height:30px;
    background-color:#3A3E8F;
    border: 1px solid #3A3E8F;
    border-radius:5px;
    margin:5px;
    color:white;
    font-size:18px;
    padding:5px;
    padding-left:10px;
    
}
