input:focus,
button:focus{
   outline:none
}
input{    
    height:20px; 
}
.field{
    width:275px;
    display: inline-block;
    border:none;
}
.framebutton{
    width:100px;
    height:30px;
    background-color:#64E5DF;
    border: 1px solid #64E5DF;
    border-radius:5px;
    
    margin:1px;
    margin-top:5px;
    color:white;
    font-size:20px;
    
}
.textbox{
    width:300px;
    height:25px;
    padding:5px;
    padding-left: 20px;
    border: 5px solid #68F0C2;
    vertical-align: middle;
    border-radius:0px 0px 10px 10px;   
}
.circle{
    height:25px;
    width:25px;
    background-color:#69D994;
    border-radius:25px;
    display:inline-block;
    position:absolute;   
}
#content-frame{
    height: 290px;
    width: 290px;
    border: 5px solid #68F0C2;
    border-radius: 10px 10px 0px 0px;
    padding:15px;
    padding-left:10px;
    padding-right:25px;
    margin-top:10px;
    overflow-y: scroll;
}
.options{
    width:325px;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    width:350px;
}
.frameitem{
    width:250px;
    height:25px;
    background-color:#68F076;
    border: 1px solid #68F076;
    border-radius:5px;
    margin:5px;
    color:white;
    font-size:18px;
    padding:5px;
    padding-left:10px;
    
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}