    body {
        text-shadow: 0 1px 2px #000000;
        background-image: linear-gradient(to right, #42CAFC, #6CE9FC);
        background-color: #4EFCF0;
        color: white;
    }
    
    .textbox {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    .textbox input {
        width: 90%;
        height: 25px;
        margin: 5px;
        border-radius: 20px;
        text-decoration: none;
        outline: none;
        padding-left: 20px;
    }
    
    .frame {
        display: inline-block;
        text-shadow: 0 1px 0 #48576D;
        min-width: 45%;
        Width: auto;
        height: 200px;
        font-family: Verdana;
        background-color: #FCFAF9;
        background-image: linear-gradient(to right, #FCFCFC, #A1FCEA);
        color: black;
        margin: 5px;
    }
    
    .frame-head {
        width: 90%;
        padding: 5%;
        background-color: #f2f2f2;
        font-size: 16px;
    }
    
    .frame-content {
        padding: 5%;
    }
    
    .btn {
        display: inline-block;
        border: 1px solid #4DB6EB;
        color: #FFFEFA;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        font-family: Verdana;
        width: auto;
        height: auto;
        font-size: 16px;
        padding: 10px 40px;
        box-shadow: inset 0px 0px 1px 0 #FCFCFC;
        -moz-box-shadow: inset 0px 0px 1px 0 #FCFCFC;
        -webkit-box-shadow: inset 0px 0px 1px 0 #FCFCFC;
        text-shadow: 1px 1px 1px #C1E2FB;
        background-image: linear-gradient(to top, #4FBCF2, #53C6FF);
        background-color: #52C3FB;
    }
    
    .btn:hover,
    .btn:active {
        border: 1px solid #46D4D9;
        color: #317596;
        box-shadow: inset 0px 2px 9px 0 #3989B0;
        -moz-box-shadow: inset 0px 2px 9px 0 #3989B0;
        -webkit-box-shadow: inset 0px 2px 9px 0 #3989B0;
        background-color: #52C3FB;
    }